#wall{
    width: 800px;
    height: 500px;
    border: 2px solid black;
    position: relative;
    
}
input[type="text"]{
    border: 1px;
    font-family: Arial sans-serif;
    padding: 5px;
}
@keyframes playerBlinking {
    0%{opacity: 0;}
    20%{opacity: 1;}
    40%{opacity: 0;}
    60%{opacity: 1;}
    80%{opacity: 0;}
    100%{opacity: 1;}
    
}
#player{
    width: 50px;
    height: 93px;
    background-color: black;
    position:relative;
    top: 200px;
    left: 150px;
    
    /* animation: playerBlinking 1s forwards; */
}
@keyframes blueMove {
    0%{left: 720px;}
    100%{left: -200px;}
}
.obstacles{
    width: 100px;
    height: 260px;
    background-color: blue;
    position: relative;
    bottom: 112px;
    left: 700px;
    /* top: 500px; */
    /* animation: blueMove 2s infinite linear; */
    
}

#redWall{
    width: 15px;
    height: 500px;
    background-color: red;
    position: relative;
    left: -6px;
    bottom: 371px;
}
@keyframes bulletMovement {
    
    100%{left: 750px}
}
    

#bullet{
    width: 10px;
    height: 5px;
    background-color: darkgoldenrod;
    position: fixed;
    /* animation: bulletMovement 1.5s linear; */
    
}

@keyframes enemyGlowing {
    0%{background-color: purple;}
    50%{background-color: rgb(241, 132, 241);}
    100%{background-color: purple;}
}
#enemy{
    width: 35px;
    height: 65px;
    animation: enemyGlowing 2s infinite linear;
    position: fixed;
    
    left: 760px;
    top: 220px
    
}
#intro{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#gameOverBorder{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#score{
    direction: rtl;
}

/* for small devices */
@media(max-width: 768px){
    
    *{
        transform-origin: 0 0;
        transform: scale(0.91);
    }
    
}
@media(prefers-color-scheme: dark){
    body{
        background-color: rgb(20, 19, 19);
        color: #ffffff;
    }
    #player{
        background-color: #ffffff;
    }

}
#fullBtn{
    margin: 20px;
    padding: 20px;
    border: none;
    background-color: #fe0067;
    color: #ffffff;
    cursor: pointer;
    border-radius: 5px;
}
#shootButton{
    margin: 20px;
    padding: 20px;
    border: none;
    background-color: #ffd000;
    color: #ffffff;
    cursor: pointer;
    border-radius: 5px;
}