#wall{
    width: 800px;
    height: 500px;
    border: 2px solid black;
    position: relative;
    
}
#player{
    width: 50px;
    height: 93px;
    background-color: black;
    position:relative;
    top: 200px;
    left: 150px;
}
@keyframes blueMove {
    0%{left: 720px;}
    100%{left: -200px;}
}
.obstacles{
    width: 100px;
    height: 260px;
    background-color: blue;
    position: relative;
    bottom: 112px;
    left: 700px;
    /* animation: blueMove 2s infinite linear; */
    
}

#redWall{
    width: 15px;
    height: 500px;
    background-color: red;
    position: relative;
    left: -6px;
    bottom: 378px;
}
@keyframes bulletMovement {
    
    100%{left: 750px}
}
    

#bullet{
    width: 10px;
    height: 5px;
    background-color: darkgoldenrod;
    position: fixed;
    /* animation: bulletMovement 1.5s linear; */
    
}

#enemy{
    width: 35px;
    height: 65px;
    background-color: purple;
    position: fixed;
    
    left: 760px;
    top: 220px
    
}
#intro{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#gameOverBorder{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#score{
    direction: rtl;
}